* {
  margin: 0;
  padding: 0;

}
/* adjust the head page */
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background:rgba(0, 0, 0, 0.863);
  color: aliceblue;
  height: 100px;
}

/* rmove the dot from ul elements */
ul {
  list-style: none;
}

#title {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  margin-right: 50px;
}

.ulHead {
  padding: 10px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color:aliceblue;
}

/* to make t up right the page */
#sign-btn {
  display: flex;
  gap: 10px;
}

/* design the buttons */
#sign-up,
#sign-in {
  background:dimgrey;
  color: aliceblue;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

#process-section {
  background: gray;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#process-section button {
  padding: 5px 30px;
  margin: 0px 40px;
  border-radius: 10px;
  font-size: 25px;
  background: rgb(255, 20, 20);
  cursor: pointer;
}


#card-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(5, 5, 5, 0.4), rgb(250, 250, 250, 1));
  
}

.row {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  width: 90px;
  height: 130px;
  background: url("../images/10104821.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border-radius: 10px;
  margin: 10px 0px;
}
  
#footer {
  /* background: rgb(36, 36, 36); */
  display: flex;
  padding: 15px;
  
}
#bibf{
  height:80px;
  width: 80px;
  margin:10px 0px 10px 5px;
  border-radius: 10px;

}

#footer p {
  color: aliceblue;
  align-content:end;
  margin:0px 0px 20px 20px;

}


#state {
  background: #808080;
  font-size: 40px;
  text-align: center;
  padding: 5px;

}



