* {
  margin: 0;
  padding: 0;
}
/* adjust the head page */
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: navy;
  color: aliceblue;
  height: 200px;
}

/* rmove the dot from ul elements */
ul {
  list-style: none;
}

#title {
  text-align: center;
  font-size: 50px;
  padding-right: 250px;
  justify-content: center;
}

/* to make the links up left the page */
#left-links {
  display: flex;
}

.ulHead {
  padding: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: brown;
}

/* to make t up right the page */
#sign-btn {
  display: flex;
  gap: 10px;
}

/* design the buttons */
#sign-up,
#sign-in {
  background: black;
  color: aliceblue;
  width: 60px;
  height: 50px;
  border-radius: 10px;
}
