* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  /* margin-top: 70px; */
  background-color: darkblue;
}

ul {
  list-style: none;
}

#title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

#left-links {
    margin-bottom: 400px;
    display: flex;
}

.ulHead {
    padding: 10px;

}

#sign-btn {
    margin-bottom: 400px;
    display: flex;
    gap: 10px;
}
